BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE VREF "a" SITE "3" ;
LOCATE COMP "AI" SITE "38" ;
LOCATE COMP "BI" SITE "39" ;
LOCATE COMP "CI" SITE "45" ;
LOCATE COMP "DI" SITE "44" ;
LOCATE COMP "A" SITE "35" ;
LOCATE COMP "B" SITE "34" ;
LOCATE COMP "C" SITE "33" ;
LOCATE COMP "D" SITE "32" ;
LOCATE COMP "E" SITE "28" ;
LOCATE COMP "F" SITE "27" ;
LOCATE COMP "G" SITE "26" ;
