BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE VREF "a" SITE "3" ;
LOCATE COMP "display[0]" SITE "35" ;
LOCATE COMP "display[1]" SITE "34" ;
LOCATE COMP "display[2]" SITE "33" ;
LOCATE COMP "display[3]" SITE "32" ;
LOCATE COMP "display[4]" SITE "28" ;
LOCATE COMP "display[5]" SITE "27" ;
LOCATE COMP "display[6]" SITE "26" ;
LOCATE COMP "input_number[0]" SITE "38" ;
LOCATE COMP "input_number[1]" SITE "40" ;
LOCATE COMP "input_number[2]" SITE "39" ;
LOCATE COMP "input_number[3]" SITE "41" ;
