h2, h3,h4, h5, h6{
  text-transform: uppercase;
  text-align: center;
}

h6{
  font-size: 1rem;
}
p{
  width: 90% !important; 
  margin-left: 5%;
}
img {
  align-self: auto;
  margin: center;
}
a{
  outline: none !important;
  text-decoration: none;
  text-align: center;
  &:visited{
    color: red;
  }
}
.grid {
  &_3_3,
  &_4_4 {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
  &_3_3 {
    grid-template-columns: repeat(3, 1fr);
    .container {
      grid-row: 1;
      align-content: center;

      &_1 {
        grid-column: 1;
      }
      &_2 {
        grid-column: 2;
      }
      &_3 {
        grid-column: 3;
      }
    }
  }
  &_4_4 {
    grid-template-columns: repeat(2, 1fr);
    .container {
      grid-row: 1;
      align-content: center;
      img {
        align-self: auto;
        margin: center;
      }
      &_1 {
        grid-column: 1;
      }
      &_2 {
        grid-column: 2;
      }
      &_3 {
        grid-column: 3;
      }
    }
  }
}
