.main{
    margin-top: 5rem;
    border-radius: 4px;
}

.container {
    &_message, &_form, &_panel{
        @include div-properties(100%, 90vh, white, table);
        position: relative;
    }
    &_message, &_form, &_panel, &_login, &_profile{
        overflow: hidden;
        .delete-button, .left-button, .back-button{
            position: absolute;
            margin-top:4rem;
            font-size: 1.2rem;
            cursor: pointer;
            z-index:20;
            min-width: 50px;
            @include div-properties(auto, 1rem, null, inline-block);
            label{
                @include div-properties(18rem, auto, null, inline-block);  
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    opacity: .7;
                }
            }
            &:hover{
                opacity: .7;
            }
        }
        .delete-button, .left-button{
            margin-right: 1rem;
            text-align: center;
            right: 0px;
            float: right;
            label{
                                text-align: right !important;

            }

            cursor: pointer;
        }
        .delete-button{
            label{
                color: red !important;
                &::after{
                    content: ' ×';
                }
            }
        }
        .left-button{
            label{
                &::before{
                    content: '+ ';
                }
            }
        }
        .back-button{
            margin-left: 1rem;
            text-align: left !important;
            left: 0px;
            float: left !important;
            label{
                left: 0px;
                top: 0px;
                text-align: left !important;
                &::before{
                    content: '❮ ';
                }
            }
        }
        div{
            font-family: $font-family;
        }
        .tab-selector{
            margin-top: 1.5rem;
            position: relative;
            text-align: center;
            @include div-properties(100%, auto, null, table);
            span{
                text-transform: uppercase;
                font-size: 1rem;
                @include div-properties(auto, 100%, null, inline-block);
                border-bottom: 1px solid rgba(0,0,0,0);
                margin-left: 1rem;
                opacity: .7;
                &:hover{
                    opacity: 1;
                }
            }
            .active{
                border-bottom: 1px solid gray;
                opacity: 1 !important;
            }
        }
        .header {
            font-family: $content-title-font-family;
            text-transform: uppercase;
            padding-top:7rem;
            position: relative;
            @include div-properties(100%, auto, null, table);
            vertical-align: middle;
            .title {
                font-family: $content-title-font-family;
                margin-left: 15%;
                color:  $nav-background-color;
                @include div-properties(70%, auto, null, table);
                font-weight: 400;
                font-size: 2rem;
                text-align: center;
            }
            .subtitle {
                font-family: $content-title-font-family;
                padding-top: .75rem;
                margin-left: 15%;
                @include div-properties(70%, auto, null, table);
                font-weight: 100;
                font-size: 1.2rem;
                text-align: center;
            }
            .search-bar{
                font-family: $content-title-font-family;
                padding-top: .75rem;
                margin-left: 15%;
                @include div-properties(70%, auto, null, table);
                font-weight: 100;
                font-size: 1rem;
                text-align: center;
                span{
                    @include div-properties(1rem, auto, null, inline-block);
                }
                div{
                    @media only screen and (min-width: 0) {
                        @include div-properties(92.5%, 1.5rem, rgba(0,0,0,0), inline-block);
                        font-size: 1rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                    @media only screen and (min-width: 720) {
                        @include div-properties(92.5%, 1.5rem, rgba(0,0,0,0), inline-block);
                        font-size: 1rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                    font-weight: 500;
                    border: none;
                    position: relative;
                    border-bottom: 1px solid rgba(0,0,0,.6);
                    color: rgba(0, 0, 0, 0.6);
                    &:focus, &:hover {
                        outline: none;
                        border-bottom: 1px solid black;
                        color: rgba(0, 0, 0, 1);
                        input[type="text"]{
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                    &:disabled {
                        color: rgba(0, 0, 0, 0.6);
                        @include disable-selection;
                    }
                    input[type="text"]{
                        @include div-properties(92.5%, 1.5rem, rgba(0,0,0,0), inline-block);
                        font-weight: 500;
                        border: none;
                        position: relative;
                        border-bottom: 0px solid rgba(0,0,0,.6);
                        color: rgba(0, 0, 0, 0.6);
                        &:focus {
                            outline: none;
                            color: rgba(0, 0, 0, 1);
                        }
                        &:disabled {
                            color: rgba(0, 0, 0, 0.6);
                            @include disable-selection;
                        }
                    }
                }

            }
        }
        .footer{
            padding-top:3rem;            
            padding-bottom:3rem;
            position: relative;
            text-align: middle;
            float: bottom;
            .container{
                @include div-properties(100%, auto, null, table);
            }
            label{
                color: $content-header-text-color;
                margin-left: 5%;
                position: relative;
                font-weight: 300;
                @include div-properties(90%, auto, null, table);
                text-align: center;
                &:hover{
                    opacity: 1;
                    font-weight: 500;
                }
            }
        }
    }
    &_message {
        .content {
            position: relative;
            padding-top: 2rem;
            @include div-properties(100%, auto, null, table);
            .container {
                text-align:center;
                div {
                    @include div-properties(90%, auto, null, inline-block);
                    font-weight: 300;
                    text-align: center;
                }
                .head {
                    min-width: 20px;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    color: $content-header-text-color;
                }
                .text {
                    color: $content-label-text-color;
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                }
                &_mini{
                    margin: auto;
                    @media only screen and (min-width: 20px) {
                        margin-left: 5%;
                        @include div-properties(90%, auto, null, inline-block);
                    }
                    @media only screen and (min-width: 768px) {
                        margin-left:5%;
                        @include div-properties(90%, auto, null, inline-block);
                    }
                    .head {
                        padding-bottom: .5rem;
                        @include div-properties(90%, auto, null, inline-block);
                        margin-left: 2.5%;
                        text-align: left;
                        @media only screen and (min-width: 20px) {
                            padding-top:3rem;
                        }
                        @media only screen and (min-width: 768px) {
                            padding-top: 1rem;
                        }
                        div{
                            text-align: left;
                            font-size: 1.2rem;
                        }
                    }
                    .text {
                        margin-left: 1%;
                        padding-bottom: 1rem;
                        font-size: 1rem;
                        @include div-properties(90%, 7rem, null, inline-block);
                    }
                }
                &_personal{
                    @media only screen and (min-width: 20px) {
                        margin-left: 5%;
                        @include div-properties(90%, auto, null, inline-block);
                    }
                    @media only screen and (min-width: 768px) {
                        margin-left:3%;
                        @include div-properties(30%, auto, null, inline-block);
                    }
                    .text {
                        margin-left: 2.5%;
                        @include div-properties(90%, 7rem, null, inline-block);
                        color: $content-label-text-color;
                        font-size: 1rem;
                        padding-bottom: 1rem;
                    }
                    .head {
                        padding-bottom: .2rem;
                        @include div-properties(95%, auto, null, inline-block);
                        margin-left: 2.5%;
                        text-align: center;
                        @media only screen and (min-width: 20px) {
                            padding-top: 1rem;
                        }
                        @media only screen and (min-width: 768px) {
                            padding-top: 1rem;
                        }
                        div{
                            text-align: center;
                            font-size: 1.05rem;
                        }
                    }
                    .text {
                        margin-left: 5%;
                        @include div-properties(90%, auto, null, inline-block);
                        margin-bottom: .5rem;
                        font-size: .9rem;
                        text-align: center;
                        padding-bottom: 2.5rem;
                    }
                }

                &_mini, &_personal {
                    position: relative;
                    margin-bottom: 1rem;
                    @include card(1);
                    overflow: hidden;
                    @include transitions(.3s);
                    border-radius: .5rem;
                    .edit{
                        position: absolute;
                        @include div-properties(auto, auto,null, inline-block);
                        bottom: 1rem;
                        right: 1rem;
                        color:rgba(30, 30, 30, 1);
                        text-align: right;
                        font-weight: 600;
                        opacity: .5;
                        font-size: .9rem;
                        min-width: 2rem;
                        min-height: 1rem;
                        text-transform: uppercase;
                        cursor: pointer;
                        &:hover{
                            opacity: .9;
                        }
                        span{
                            @include div-properties(1rem, auto, null, inline-block);
                        }
                    }
                    .head {
                        min-width: 20px;
                        text-transform: uppercase;
                        color: $content-header-text-color;
                        div{
                            position: relative;
                            @include div-properties(100%, auto, null, inline-block);
                            font-weight: 600;
                        }
                    }
                    .status{
                        @include div-properties(90%, auto, null, inline-block);
                        position: relative;
                        margin-left: 2.5%;
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                        border: 2px;
                        label{
                            font-weight: 500;
                            text-align: center;
                        }
                    }
                    .text {
                        color: $content-label-text-color;
                        div{
                            @include div-properties(100%, auto, null, inline-block);
                        }
                    }
                }
            }
        }
    }
    &_form {
        .container {
            position: relative;
            @include div-properties(100%, auto, null, table);
            &_middle,
            &_full,
            &_auto {
                .image{
                    position: relative;
                    @include div-properties(100%, auto, null, block);
                    div{
                        @include div-properties(100%, 20rem, null, block);
                        position: relative;
                        @include image-background;
                    }
                }
                vertical-align: top;
                margin-top: 1.5rem;
                position: relative;
                @media only screen and (min-width: 20px) {
                    margin-left:2.5%;
                    @include div-properties(95%, auto, null, inline-block);
                }
                label {
                    @include div-properties(100%, auto, null, inline-block);
                    text-align: left;
                    font-size: 1.2rem;
                }

                .author, .mini, .reference{
                    position: relative;
                    margin-bottom: 2rem;
                    overflow: hidden;
                    border-radius: .5rem;
                    .head, .foot{
                        position: relative;
                        @include div-properties(100%, auto, null, inline-block);
                        text-align: center;
                        font-family: $content-title-font-family;
                        color:white;
                        label{
                            font-size: 1rem;
                            margin: 0px;
                            text-align: center;
                            max-height: 40px;
                            white-space: nowrap;
                            overflow: hidden;
                            color: $mini-head-font-color;
                            text-overflow: ellipsis;
                            p{
                                max-height: 30px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        background-color: $mini-head-background-color;
                    }
                    .image{
                        div{
                            @include div-properties(100%, 12rem, null, inline-block);
                        }
                    }

                    @include card(3);
                    @media only screen and (max-width: 767px) {
                        margin-left:2.5%;
                        @include div-properties(90%, auto, null, inline-block);
                    }
                    .text{
                        @include div-properties(90%, auto, null, inline-block);
                        overflow-y: hidden;
                        position: relative;
                    }
                    .close{
                        position: absolute !important;
                        margin-left: 0%;
                        top: 4px;
                        right: 0px;
                        opacity:.5;
                        &:hover{
                            opacity: .8;
                        }
                        cursor: pointer;
                    }
                }
                .author, .reference{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    margin-right:  2.5%;
                    @media only screen and (min-width: 768px) {
                        @include div-properties(44%, auto, null, inline-block);
                    }
                    div{
                        overflow: hidden;
                        margin-left: 5%;
                        position: relative;
                        font-size: .95rem;
                        white-space:nowrap;
                        @include div-properties(90%, auto, null, inline-block);
                    }
                    span{
                        position: relative;
                        @include div-properties(1rem, 100%, null, inline-block);
                        margin-right: .5rem;
                        text-align: center;
                        &:before{
                            text-align: center;
                        }
                    }
                }
                .mini{
                    margin: 0px !important;
                    padding: 0px !important;
                    padding-bottom: 0px !important;
                    margin-bottom: 0px !important;
                    @media only screen and (min-width: 768px) {
                        @include div-properties(31%, auto, null, inline-block);
                    }
                }

            }
            &_middle {
                @media only screen and (min-width: 768px) {
                    @include div-properties(45%, auto, null, inline-block);
                    min-height:  3rem;
                }
            }
            &_full {
                @include div-properties(100%, auto, null, inline-block);
                min-height:  1rem;
            }
            &_auto {
                @media only screen and (min-width: 768px) {
                    margin-left: 1rem;
                    @include div-properties(auto, auto, null, inline-block);
                }
            }
        }
    }
    &_panel {
        .container {
            position: relative;
            margin-top: 2rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            margin-left: 5%;
            //@include div-properties(90%, 90%, null, flex);
            @include div-properties(90%, 90%, null, table);
            overflow: hidden;
            overflow-y: auto;
            .content {
                margin-left: 2.5%;
                @include div-properties(95%, auto, null, table);

            }
        }
    }
    &_login{
        @include image-background;
        background-image: url(../img/bg3.png);
        .button-middle{
            background-color: $button-middle-font-color;
        }
    }
    &_profile{
        // background-color: $background-color;
        .button-middle{
            background-color: $button-middle-font-color;
        }
    }
    &_login, &_profile{
        @include div-properties(100vw, 100vh, null, flex);
        vertical-align: middle;
        align-items: center;
        position: fixed;
        .float{
            position: relative;
            margin: auto;
            vertical-align: middle;
            @media only screen and (min-width: 768px) {
                @include div-properties(40%, auto, white, inline-block);
                @include card(2);
            }
            @media only screen and (max-width: 767px) {
                @include div-properties(90%, auto, null, inline-block);
                min-width: 550px;
            }
            .container-form{
                input[type="text"],
                input[type="email"],
                input[type="password"], select {
                    float:none;
                    @media only screen and (min-width: 0) {
                        @include div-properties(100%, 1.5rem, rgba(0,0,0,0), inline-block);
                    }
                    @media only screen and (min-width: 720) {
                        @include div-properties(100%, 1.5rem, rgba(0,0,0,0), inline-block);
                    }
                }
                padding-top: 3rem;
                padding-bottom: 5rem;
                margin-left: 20%; 
                @include div-properties(60%, 100%, white, table);
            }
        }
    }
}
