.button{
    font-weight: 500;
    cursor: pointer ;
    vertical-align: top;
    text-align: center !important;
    .add{
        &:before{
            margin-right: .3rem;
            content: '+';
        }

    }
    label{
        font-size: 1.1rem !important;
        cursor: pointer ;
        text-align: center !important;
        text-transform: uppercase;
    }
    &-clear, &-full{
        float:right;
    }
    &-clear, &-middle-clear{
        vertical-align: top;
        font-family: $button-middle-font-family;
        color: $button-middle-font-color;
        padding: .8rem;
    }
    &-full, &-middle{
        font-size: .8rem;
        padding: 1rem;
        font-family: $button-font-family;
        background-color: $button-background-color;
        color: $button-font-color;
        font-weight: 500;
    }
    &-middle{
        margin: auto;
    }
    &-middle-clear{
        margin: auto;
    }
    &:hover, &:focus{
        opacity: .7;
    }
}
.form {
    &-control {
        position: relative;
        @include div-properties(100%, auto, null, inline-block);
    }
    .word{
        margin-bottom: 1rem !important;
        position: relative !important;
        @include div-properties(92.5% !important, auto !important, null, inline-block !important);
        overflow: scroll;
    }
    .ql-toolbar{
        margin-top: 1rem !important;
        position: relative !important;
        @include div-properties(92.5% !important, auto !important, null, inline-block !important);
    }
    .tag{
        &-small{
            font-weight: 500;
            font-size: 1.5rem;
        }
        &-medium{
            font-weight: 500;
            font-size: 1.5rem;
        }
        &-big{
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
    .inputfile{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        + label {
            font-size: 1rem;
            font-weight: 500;
            color: $button-background-color;
            @include div-properties(auto, auto, null, inline-block);
            cursor: pointer; 
            opacity: .7;
            span{
                font-size: 1rem !important;
                @include div-properties(auto, 90%, null, inline-block);
                color: $button-background-color ;
            }
            *{
                pointer-events: none;
            }
        }
        &:focus, &:hover{
            + label{    
                opacity: 1;
            }
        }
    }
    select{
        position: relative;
        margin-top: .5rem;
        float:right;
        margin-bottom: .5rem;
        @include div-properties(90%, auto, null, table);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        @media only screen and (min-width: 0) {
            @include div-properties(92.5%, 1.5rem, rgba(0,0,0,0), inline-block);
            font-size: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        @media only screen and (min-width: 720) {
            @include div-properties(92.5%, 1.5rem, rgba(0,0,0,0), inline-block);
            font-size: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        font-weight: 500;
        border: none;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,.6);
        color: rgba(0, 0, 0, 0.6);
        &:focus {
            outline: none;
            border-bottom: 1px solid black;
            color: rgba(0, 0, 0, 1);
        }
        &:disabled {
            color: rgba(0, 0, 0, 0.6);
            @include disable-selection;
        }
    }

    textarea {
        @media only screen and (min-width: 0) {
            @include div-properties(90%, 5rem, null, inline-block);
            margin-top: 0.5rem;
            margin-bottom: 0rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
        @media only screen and (min-width: 720) {
            @include div-properties(95%, 5rem, null, inline-block);
            margin-top: 0.5rem;
            margin-bottom: 0rem;
            font-size: 1rem;
            margin-left:1rem;
        }
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        resize: none;
        border-color: #95989a;
        outline: none;
    }
}

